/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 70px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.navbar h3 {
    color: #fff;
    margin-left: 50px;
    margin-right: auto;
    font-size: 24px;
}

.in_nav {
    margin-right: 30px;
}

.in_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.in_nav a:hover {
    color: #ccc;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1,
.heading h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.heading p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 44px;
    background-color: #eee;
    border-radius: 5px;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: #333;
}

.input-group:hover .label,
.input:focus {
    color: #333c;
}

button,
.custom-button {
    width: 120px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button {
    border: none;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

button:active {
    transform: scale(0.95);
}

.custom-button {
    border: 2px solid #333;
    background-color: transparent;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: #f0f0f0;
}

.custom-button:active {
    transform: scale(0.95);
}

textarea {
    width: 100%;
    height: 200px;
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid transparent;
    font-size: 1rem;
    margin-bottom: 20px;
}

.add-skill-button {
    align-self: flex-start;
    margin-top: 10px;
}
