.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.column_1 {
  flex: 50%;
  padding: 0 10px;
  transition: 0.3s linear;
}
.column_1:hover {
  box-shadow: -2.8px -2.6px 35.5px -9px rgba(0, 0, 0, 0.052),
    -5.8px -5.3px 45.5px -9px rgba(0, 0, 0, 0.075),
    -7.3px -6.7px 55px -9px rgba(0, 0, 0, 0.098),
    52px 48px 92px -9px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 30px; */
}
.column_2 {
  flex: 50%;
  padding: 0 10px;
  transition: 0.3s linear;
}
.column_2:hover {
  box-shadow: -2.8px -2.6px 35.5px -9px rgba(0, 0, 0, 0.052),
    -5.8px -5.3px 45.5px -9px rgba(0, 0, 0, 0.075),
    -7.3px -6.7px 55px -9px rgba(0, 0, 0, 0.098),
    52px 48px 92px -9px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 20px; */
}

.one {
  width: 25rem;
  height: 26rem;
  display: block;
  margin: 0 auto;
}
.two {
  width: 28rem;

  height: 36rem;
  display: block;
  margin: 0 auto;
}
