<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose The Template</title>
    <link
      rel="stylesheet"
      href="/Folder/Backend/public/stylesheets/Template_k.css"
    />
  </head>
  <body>
    <div class="container">
      <br />
      <h2><b>Choose The Template</b></h2>
      <div class="row">
        <div class="column_1">
          <a href="/edit">
            <img
              class="one"
              src="/Folder/Backend/public/images/Template.jpg"
              alt="Template 1"
            />
          </a>
        </div>

        <div class="column_2">
          <a href="/Resume">
            <img
              class="two"
              src="/Folder/Backend/public/images/Template_3.png"
              alt="Template 2"
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
