<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Resume</title>
    <link
      rel="stylesheet"
      href="/Folder/Backend/public/stylesheets/Template_2.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>John Doe</h1>
        <p>Frontend Developer</p>
        <div class="sub_1">
          <p>@johndoe@gmail.com</p>
          <p>linkedin.com/@_XanderArts_</p>
          <p>+91 952-140-6600</p>
        </div>
        <div class="sub_loc">Amsterdam,Netherland</div>
      </div>

      <div class="sub_2">
        <div class="section">
          <h2>SUMMARY</h2>
          <div class="skills">
            <p>
              Enthusiastic customer success manager with seven years of
              expericence Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Praesentium hic id placeat ut suscipit vel dolorum
              reiciendis exercitationem quod odit!
            </p>
          </div>
        </div>
        <div class="section_3">
          <h2>EDUCATION</h2>
          <div class="edu">
            <h4>Master Of Sociology</h4>
            <p>University Of Amsterdam</p>
          </div>
          <div class="edu">
            <h4>Master Of Sociology</h4>
            <p>University Of Amsterdam</p>
          </div>
        </div>
      </div>

      <div class="sub_2">
        <div class="section">
          <h2>Experience</h2>
          <div class="experience">
            <div class="job">
              <h3>Frontend Developer</h3>
              <p>Company Name - January 2020 to Present</p>
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
                et! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veritatis, eaque!
              </li>
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
                et!
              </li>
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
                et!
              </li>
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo,
                et!
              </li>
            </div>
          </div>
        </div>
        <div class="sub_4">
          <h2>SKILLS</h2>
          <li>CSS</li>
          <li>HTML</li>
          <li>JAVASCRIPT</li>
          <li>REACT</li>
          <li>JAVA</li>
          <li>NEXTJS</li>
        </div>
      </div>
    </div>
  </body>
</html>
